body{
  line-height:1;
}
#content{
  border:1px solid #A9F5A9;
  background:#FFF;
  margin-left:auto;
  margin-right:auto;
  width:300px;
  height:300px;
  overflow: auto;
  -moz-border-radius:3px;

}
#content p{
  padding:1em;
  margin:1em;
  background-color: #E6E6E6;
  border:1px solid #BDBDBD;
  -moz-border-radius:4px;

}
h1{
  color:01DF3A;
  font-family: 'Merienda One', cursive;
  margin-top:90px;
  text-align:center;
  padding:1em;
  font-size:31px;
}
#message{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  overflow: auto;
  padding: 0 0 0 3px;
  color:#00000;
}
#message button{
  margin:1em 0 0 0;
}
#message textarea{
  border:1px solid #A9F5A9;
  font-family: Tahoma, sans-serif;
}
button{
  border:none;
  padding:6px;
  text-decoration: none;
  -moz-border-radius:4px;
  background-color: #2EFE64;
  color: white;
  -moz-box-shadow: 0 1px 0 white;
  cursor: pointer;
}
